// Define variables for your color scheme

// For example:
$red: #DA3847;
$blue: #4D608A;
$yellow: #E2B824;
$orange: #E67E22;
$green: #4FB3A7;
$beige: #B2977C;
$dark-grey: #1F2421;
$gray: #3C3C3C;
$light-gray: #FDFFFC;
$black: #191716;
$wine: #b11226;
