// Define variables for your color scheme

// For example:
$red: #DF3B57;
$blue: #00AECC;
$darkblue: #0E1C36;
$yellow: #E2B824;
$orange: #F96900;
$green: #0F7173;
$beige: #B2977C;
$dark-grey: #1F2421;
$gray: #3C3C3C;
$light-gray: #FDFFFC;
$black: #191716;
$wine: #b11226;

$pink: #D90368;
$purple: #963484;
