.banner .user-header h1 {
  color: $dark-grey;
}

.user-header {
  color: $pink;
  text-shadow: none;
  margin-bottom: 20px;
}


.list-group .list-group-flush p {
  color: $gray;
}

.booking-info {
  color: $blue;
  font-weight: bold;
}
