.footer {
  background: $green;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  text-align: center;
  height: 120px;
  padding: 16px 50px;
  color: $light-gray;
}

.footer-links {
  align-items: center;
}

.footer-links a {
  color: $light-gray ;
  opacity: 0.3;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-paw {
  color: $light-gray;
}

.footer-copyright {
  margin-top: 8px;
  opacity: 0.9;
}
