.footer {
  background: $yellow;
  display: flex;
  margin-top: auto;
  text-align: center;
  min-height: 120px;
  padding: 16px 50px;
  color: #FDFFFC;
  bottom: 0px;
  right: 0px;
  left: 0px;
  justify-content: center;
  flex-direction: column;
}

.footer-links {
  align-items: center;
}

.footer-links a {
  color: $baby;
  opacity: 0.3;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-paw {
  color: $baby;
}

.footer-copyright {
  margin-top: 8px;
  // opacity: 0.9;
  color: $baby;
}
